.brands-section {
  padding: 140px 0;
  background: #fff;
}

.brands-header {
  text-align: center;
  margin-bottom: 70px;
}

.brands-header span {
  color: var(--gold);
  letter-spacing: 2px;
  font-weight: 600;
}

.brands-header h2 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  max-width: 800px;
  margin: 15px auto;
}

.brands-header p {
  color: #666;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.brand-box {
  background: white;
  height: 140px;

  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eee;

  transition: .3s ease;

  box-shadow: 0 5px 20px rgba(0,0,0,.04);
}

.brand-box:hover {
  transform: translateY(-8px);

  border-color: #b89050;

  box-shadow: 0 15px 35px rgba(0,0,0,.08);
}

.brand-box img {
  width: 140px;
  object-fit: contain;

  filter: grayscale(100%);
  opacity: .8;

  transition: .3s ease;
}

.brand-box:hover img {
  filter: grayscale(0);
  opacity: 1;
}

@media (max-width: 992px) {

  .brands-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {

  .brands-grid {
    grid-template-columns: 1fr;
  }

  .brands-header h2 {
    font-size: 2.2rem;
  }

}

@media (max-width: 480px) {

  .brand-box {
    height: 100px;
  }

}